.forum-main {
	width: 635px;
}

.ihome-content {
	background-color: #fff;
	overflow: hidden;
	border: solid 1px #dcdcdc;
	border-top: 0;
	margin-top: -1px;
	width: 821px;
	float:left;
}

.forum-info {
	margin-top: 15px;
	font-size: 12px;
	color: #c9c9c9;
}

.forum-body {
	width: 635px;
}

.forum-title {
	margin: 15px 0 16px;
	line-height: 1.5;
	font-size: 16px;
	/*color: #000;*/
	word-break: break-all;
}

.forum-content {
	margin-top: 15px;
	font-size: 12px;
	color: #c9c9c9;
}

.container{
	background-color:#e9f2fc;
}

body.ihome {
	font-size: 14px;
	font-family: "Microsoft YaHei", SimSun, arial, "\5b8b\4f53";
	background-color: #f3f3f3;
}

.forum{
	border-bottom: 1px dotted #dbe1e6;
}

.forum:hover {
	background-color: #f4fef6;
}

.viewMain {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	background-image: url(../../img/forum/forum_back.png);
    background-position-x: 100%;
    background-position-y: 0%;
    background-size: initial;
    background-repeat-x: no-repeat;
    background-repeat-y: repeat;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
}

/* »Ø¸´µÄcss*/
.wholepage {
	background-color: #fff;
	overflow: hidden;
	border: solid 1px #dcdcdc;
	border-top: 0;
	margin-top: -1px;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	background-image: url(../../img/forum/forum_back.png);
    background-position-x: 100%;
    background-position-y: 0%;
    background-size: initial;
    background-repeat-x: no-repeat;
    background-repeat-y: repeat;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
}

.reply {
	width: 821px;
	border-right: 1px solid #ebf0f1;
	float:left;
}

.replylist {
	margin-bottom: 40px;
	padding: 25px 60px;
	background-color: #fff;
	padding: 0;
	zoom: 1;
}

.aside {
	float:right;
/* 	padding-right:50px; */
	width:170px;
}

.replytext {
	font-size: 14px;
	line-height: 24px;
}

.replyinfo {
	color: #9eadb6;
}

.replyinfo-info {
	display: inline;
	/*float: left;*/
	padding-top: 5px;
}

.replyinfo-reply {
	padding-top: 5px;
	margin-left: auto;
	margin-right: 10px;
	color: #333;
	float:right;
}

.right_up:hover .element {
	display: inline;
}

.element {
	display: none;
}
.deleteAndComment{
	width:700px;
	height:30px;
}
.commentText {
	width: 620px;
	height: 137px;
	display: none;
	background-color: #f4fef6
}