@CHARSET "UTF-8";

body {
	font-family: 微软雅黑;
	padding: 0;
	margin: 0;
}

.outer {
	width: 850px;
	height: 880px;
	margin: 30px auto;
	border-radius: 10px;
	border: 1px solid #1296DB;
}

.head {
	width: 850px;
	height: 35px;
	background-color: #50E450;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	padding: 0px;
}

.head .imgDiv {
	width: 30px;
	height: 30px;
	margin-left: 5px;
	float: left;
}

.head img {
	width: 30px;
	height: 30px;
	margin-top: 2px;
}

.head span {
	display: inline-block;
	margin-top: 8px;
	font-size: 15px;
	font-family: 微软雅黑;
	color: white;
	letter-spacing: 3px;
	float: left;
	border-top: 1px dashed #FFFFFF;
	margin-left: 2px;
}

.dividePage {
	margin: 0 auto;
}

.searchDiv {
	width: 100%;
	height: 36px;
	/* 	background-color: pink; */
	float: left;
}

.btn-drop {
	background-color: #428BCA;
	border: transparent;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	height: 30px;
	padding: 0;
	margin-left: 0;
	display: inline-block;
}

.btn-nav {
	background-color: #428BCA;
	/* 	border:transparent; */
	height: 30px;
	border-right: 1px solid #ffffff;
	color: #FFFFFF;
}

.btn-nav:HOVER {
	color: #02ff02;
}

.searchForm {
	height: 30px;
	margin-top: 3px;
	float: left;
	margin-left: 20px;
}

.searchForm input {
	height: 30px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.searchImgDiv {
	width: 30px;
	height: 30px;
	margin-top: 3px;
	float: left;
}

.searchImgDiv img {
	width: 25px;
	height: 25px;
	margin-top: 2px;
/* 	width: 30px; */
/* 	height: 30px; */
/* 	margin: 0; */
/* 	padding: 0; */
}

.searchBtn {
	width: 50px;
	height: 30px;
	background-color: #428BCA;
	border: transparent;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}
.dropdown-menu{
	padding:0px;
	margin:0;
	height: 120px;
}
.dropdown-menu li{
	cursor: pointer;
	text-indent: 10px;
	height:30px;
	border-bottom:1px solid silver;
	line-height:30px;
	
}
.dropdown-menu li:HOVER {
	background-color: #1296db;
	color: #FFFFFF;
	
}
.record{
	float: left;
	margin-left: 10px;
}
.record span{
	display: inline-block;
/* 	margin-top:5px; */
/* 	background-color: red; */
	height: 33px;
	border-radius: 4px;
	line-height: 33px;
	border: 1px solid #DDDDDD;
}
font{
	color:#1296db;
}
.divideSpan{
	display: inline-block;
	height: 33px;
	border-radius: 4px;
	line-height: 33px;
	float: left;
	margin-left: 2px;
}








