body {
	padding: 0;
	margin: 0;
	font-family: 微软雅黑;
}
.box {
	width: 1000px;
/* 	height: 1000px; */
/* 		background-color: pink; */
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #d7d7d7;
	border-radius: 4px;
	border-top: none;
	min-height:300px;
}

.each {
	width: 990px;
	height: 120px;
/* 	background-color: lightgreen; */
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	border-bottom:1px dashed lightgreen;
	/* 	padding-top:20px; */
}

.time {
	width: 120px;
	height: 80px;
/* 	background-color: pink; */
	margin-left: 20px;
	float: left;
	margin-top: 30px;
	padding-top: 15px;
	padding-left: 18px;
	border-radius:4px;
	font-size:16px;
	font-weight:bold;
/* 	border:1px solid blue; */
	letter-spacing: 2px;
}

.linebox {
	width: 30px;
	height: 120px;
/* 	background-color: blue; */
	float: left;
	padding: 0;
	margin-left: 10px;
}

.line {
	width: 5px;
	height: 120px;
	background-color: #1296db;
	margin-left: 12px;
	display: inline-block;
/* 	border:1px solid green; */
}

.content {
	width: 480px;
	height: 120px;
/* 	background-color: orange; */
	float: left;
	margin-left: 20px;
/* 	border: 1px solid silver; */
}

.title {
	width: 460px;
	height: 35px;
/* 	background-color: pink; */
	display: block;
	font-size: 16px;
	padding-top: 5px;
	padding-left: 10px;
	border-radius:4px;
}

.detail {
/* 	border: 1px solid silver; */
	width: 460px;
	height: 80px;
	margin: 0;
	padding: 0;
/* 	background-color: green; */
	word-break: break-all;
	display: -webkit-box;
	-webkit-line-clamp: 5;
	-webkit-box-orient: vertical;
	overflow: hidden;
	font-size: 12px;
	float: left;
}
.imgDiv{
	float: left;
	width:180px;
	height: 120px;
/* 	background-color: blue; */
	margin-left: 20px;
}
.imgDiv img{
	width: 160px;
	height:100px;
/* 	background-color: gray; */
	margin-top:10px;
	margin-left:10px;
	border-radius:4px;
	border:1px solid green;
}
.check{
	width:990px;
	height:40px;
	border-bottom:1px dashed #0080ff;
	padding-top: 6px;
}
table{
	width:420px;
	max-width: 420px;
	margin-left: 10px;
}
.inputSet{
	height:25px;
	border-radius:4px;
	border:1px solid #c5c5c5;
}
td{
	font-size: 12px;
}
.btn-custom{
	height:25px;
	width:70px;
	padding: 0;
	border-radius:4px;
	background-color: #1269db;
	color:#FFFFFF;
}

