@CHARSET "UTF-8";
body{
	margin:0px;
	padding:0px;
/* 	background-image: url("../../images/main-bg.jpg"); */
	background-color:#eefbff;
/* 	background-image: url("../../img/bg.jpg"); */
	background-image: url("../../img/register_bg.jpg");
	background-repeat: repeat-x;
}
#titleContent{
	width:435px;	
	height:115px;
	margin-left:auto;
	margin-right:auto;
	margin-top:30px;
/* 	background-color:lightblue; */
	text-align:center;
	border-bottom:1px solid silver;

}
.nuaaImgDiv{
	width:105px;
	height:105px;
/* 	background-color:lightgreen; */
	float:left;
}
.nuaaImgDiv img{
	width:105px;
	height:105px;
}
.title{
	float:left;
	width:330px;
	height:102px;
/* 	margin-left:10px; */
/* 	background-color:pink; */
}
.title p{
	 margin-top: 10px;
	 font-family:微软雅黑;
/* 	 color:#555555; */
	 color:#808080;
}
.form_style_control{
	width:380px;
	margin-left:auto;
	margin-right:auto;
	margin-top:30px;
}
.btn-style-set{
	width:380px;
	height:46px;
	font-family:微软雅黑;
	font-size:16px;
}
.input-group-addon-cus{
	font-family:微软雅黑;
	font-size:15px;
}
.label-style-control{
/* 	background-color:#d7d7d7; */
	background-color:#5BC0DE;
	color:white;
}
.end{
	width:450px;
	height:50px;
/* 	background-color:silver; */
	margin-top:40px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	font-family: "微软雅黑";
}
#loginFormDiv{
	margin-top: 30px;
}
#loginFormDiv div{
	margin-top:30px;
}
.codeStyle{
	padding: 0px;
	border-top-right-radius:6px;
	border-bottom-right-radius:6px;
	border:1px solid #CCCCCC;
}
















