body{
    /*background-color: #BFE6AD;"*/
/*     background-image: url("../../img/register_bg.jpg"); */
}
.topSection{
    width:1060px;
    height:80px;
    /*background-color: #00b7ee;*/
    border-bottom:2px solid #00A761;
    margin:0 auto;
    padding:0px;
}
.registerHead{
    width:1060px;
    height:40px;
    /*border:1px solid #939393;*/
    /*border-bottom:none;*/
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: #349800;
    margin:8px auto 0px;
}
.registerHead span{
    color: #FFFFFF;
    display: inline-block;
    margin-top: 10px;
    font-size:15px;
    margin-left:10px;
}
.registerBody{
    width:1060px;
    height:450px;
    /*background-color: #b96dff;*/
    margin:0 auto;
    border:1px solid #939393;
}
.registerForm1{
    width:320px;
    height:350px;
    background-color: #00b7ee;
}
.log{
    width:80px;
    height:80px;
    margin-left:0px;
    margin-top: 5px;
    padding:0px;
    float: left;
}
.log img{
    width:70px;
    height:70px;
    border-radius: 20px;
}
.title{
    /*background-color: #00a0e9;*/
    width:240px;
    height:80px;
    float: left;
    font-family:微软雅黑;
}
.school{
    font-size:25px;
    margin-top:5px;
    padding:0px;
    display: block;
    color: #00a0e9;
}
.system {
    font-size: 20px;
    padding: 0px;
    margin: 0px;
    display: block;
    color: #4C9D4F;
    letter-spacing: 5px;
}
.formSection1{
    margin-left: 180px;
}
.formSection2{
    margin-left:20px;
}
div[class^=formSection]{
    width: 350px;
    height:390px;
    /*background-color: #d06ce9;*/
    margin-top:5px;
    float: left;
}
#regisForm input {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    width: 250px;
    height:35px;

}
#regisForm label{
    color:#00a0e9;
}
div.input-group{
    margin-top:0px;
    height: 35px;
}
.input-group div{
    background-color: #5BC0DE;
    color: #FFFFFF;
}
.btn-set{
    width:318px;
    height:36px;
}
.validationInfo {
    /*background-color: red;*/
    width: 688px;
    height: 60px;
    margin: 25px auto;
}
.comment {
    height: 60px;
    width: 68px;
    background-color: #5BC0DE;
    float: left;
    padding: 0px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border:1px solid #b3b3b3;
    color: #FFFFFF;
}
.errorInfo {
    width: 620px;
    height: 60px;
    float: left;
    /*background-color: #00A761;*/
    padding: 0px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border:1px solid #b3b3b3;
    border-left:0px;
}
.warning{
    height:25px;
    width:318px;
    background-color:transparent;
    text-align: center;
}
